.content-panel2{
    margin: 85px 60px 70px 345px;
}

.backto-left{
    width: 40%;
}

.backto-right{
    width: 35%;
    transform: translateX(17%);
    margin-bottom: 10px;
}

.product-info{
    clear: both;
    margin-top: 16px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.product-info-entry{
    border-top: 1px solid #E7EAEF;
    padding: 20px 0px 0px 26px;
    overflow: hidden;
    background-color: #FFFFFF;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.15)
}

.product-info-entry-left{
    width: 400px;
    margin-bottom: 20px;
}

.product-info-entry-left-title{
    height: 33px;
    line-height: 33px;
    font-size: 24px;
    color: #5A6169;
}

.product-info-entry-left-top{

}

.product-info-entry-left-top span{
    margin-right: 20px;
}

.product-info-entry-left-top span t{
    color: #A5A7B0;
}

.product-info-entry-left-choose a{
    color: #00A0E9;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
}

.product-info-entry-left-img{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #E7EAEF;
}

.product-info-entry-left-img img{
    width: 100%;
}

.product-info-entry-left-upload{
    text-align: left;
}

.product-info-entry-left-upload ul{
    list-style-type: none;
    text-decoration: underline;
    padding: 0;
    color: #5A6169;
}

.product-info-entry-right{
    margin:0 0 15px 70px;
    width: calc(100% - 490px);
}

.am-form input[type="text"],
.am-form textarea,
.am-form select {
    color: #5A6169;
    border-radius: 5px;
}

.product-info-group{
    overflow: hidden;
}

.product-info-title-model{
    padding: 53px 1% 20px 2%;
    border-bottom: 1px solid #E7EAEF;
}

.product-info-title {
    font-size: 18px;
    color: #00A0E9;
    text-shadow: none;
}

.am-form-inline .am-form-label{
    padding: 20px 0;
    color: #A5A7B0;
}

.product-from-order{
    width: 100%;
}

.product-from-order .am-form-group{
    width: 45%;
    margin-right: 2.5%;
}

.product-from-order .am-half-sum{
    width: 35%;
    margin-right: 5%;
}

.delivery-date-model{
    width: 77%;
    overflow: hidden;
}

.delivery-date-model div{
    color: #A5A7B0;
    float: left;
    width: 45.5%;
    height: 47px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 2px 35px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
}

.delivery-date-model .delivery-date-model-act,
.delivery-date-model div:active{
    background-color: #00A0E9;
    color: #FFF;
}

.delivery-date-model div:nth-child(2n){
    margin-left: 8%;
}

.delivery-date-model div:nth-child(5){
    width: 100%;
    margin-bottom: 0;
}

.delivery-date-model div:nth-child(1),
.delivery-date-model div:nth-child(5){
    padding-top: 12.5px;
}

.customer-notes textarea{
    height: 160px;
    resize: inherit;
}

.product-from-shipping{
    width: 34.5%;
}

.product-from-shipping .am-form-group{
    width: 100%;
}

.product-from-shipping .am-half-sum{
    width: 45%;
}

.product-from-shipping .am-half-sum:nth-child(1){
    width: 45%;
    margin-right: 7%;
}

.product-from-delivery{
    width: 65.5%;
}

.product-from-delivery .am-form-group{
    width: 41%;
    margin-left: 4%;
}

.product-from-delivery .am-half{
    width: 45%;
    margin-left: 0;
}

.product-from-delivery .am-half:nth-child(2){
    margin-left: 8%;
}

.product-from-delivery .delivery-btn{
    padding: 40px 0;
}

.btn-next{
    margin-top: 20px;
    text-align: center;
}

.btn-next button{
    width: 230px;
    height: 50px;
}

.btn-next button:nth-child(2){
    margin-left: 15px;
}

.btn-next button:nth-child(1){
    background-color: #74c7ed;
    border-color: #74c7ed;
}

@media only screen and (max-width: 1760px){
    .product-info-entry-left{
        width: 100%;
    }

    .product-info-entry-left-img{
        width: 100%;
        height: auto;
    }

    .product-info-entry-left-title {
        height: 15px;
        line-height: 15px;
        font-size: 15px;
    }

    .product-info-entry-left-img img{
        width: 100%;
        height: auto;
    }

    .product-info-entry-right{
        margin-left: 0px;
        width: 100%;
    }

}

@media only screen and (max-width: 1090px){

    .product-info-entry{
        padding: 20px 5px 0px 5px;
    }

    .product-from-shipping .am-half-sum:nth-child(1){
        width: 100%;
        margin: 0 0;
    }

    .product-from-shipping,
    .product-from-delivery,
    .product-from-order{
        width: 100%;
    }

    .product-from-shipping .am-form-group,
    .product-from-delivery .am-form-group,
    .product-from-order .am-form-group{
        width: 100%;
        margin: 0 0;
    }

    .product-from-delivery .am-half:nth-child(2){
        margin: 0 0;
    }

    .product-from-delivery .delivery-btn{
        padding: 10px 0 ;
    }

    .delivery-btn button,
    .btn-next button,
    .product-info-add-btn button{
        width: 100%;
        margin-bottom: 10px;
    }

    .btn-next button:nth-child(2),
    .product-info-add-btn button:nth-child(2){
       margin: 0 0;
    }

}

@media only screen and (max-width: 600px){

    .product-info-entry{
        padding: 20px 5px 0px 5px;
    }

    .btn-next button,
    .product-info-add-btn button{
        width: 100%;
        margin-bottom: 10px;
    }
}