.content-panel2{
    margin: 85px 60px 60px 345px;
}

.nav-panel-span-cur{
    font-size: 20px;
    margin-top: 30px;
}

.order-table{
    margin-top: 30px;
    background: #FFFFFF;
    box-shadow: 0 2px 10px 3px rgba(0,0,0,0.10);
    border-radius: 10px;
    padding-bottom: 32px;
    overflow: hidden;
}

.order-table-panel{
    width: 105%;
    margin-left: -5%;
}

.table-space-60{
    margin-top: 30px;
}

.order-table table{
    width: 100%;
}

.order-table table tr{
    border-bottom: 1px solid #E7EAEF;
}

.order-table table tr:hover{
    box-shadow: 10px 0 10px 0 rgba(0,0,0,0.10);
}

.order-table table tr:nth-child(even){
    background: #F1F4FE;
}

.order-table table tr th{
    height: 53px;
    line-height: 53px;
    font-size: 16px;
    color: #3D5170;
    text-align: center;
}

.order-table table tr th:first-child{
    padding-left: 113px;
}

.order-table table tr td{
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-size: 14px;
    color: #868E96;
}

.order-table table tr td:last-child{
    font-size: 14px;
    color: #00A0E9;
    cursor: pointer;
}

.order-table table tr td:first-child span{
    margin-right: 14px;
    display: inline-block;
    width: 100px;
}

.order-table table tr td:first-child i{
    margin-right: 16px;
}

.page-nation{
    width: 50%;
    margin: 26px auto;
    overflow: hidden;
    text-align: center;
}

.page-nation ul{
    list-style-type: none;
    font-size: 16px;
    color: #CACEDB;
}

.page-nation ul li{
    float: left;
    margin-right: 10px;
    height: 36px;
    min-width: 36px;
    padding: 5px;
    text-align: center;
    border: 1px solid #CACEDB;
    cursor: pointer;
}

.page-nation ul li:hover{
    background-color: #00A0E9;
    color: #FFFFFF;
}

.page-chg{
    padding: 0px 25px !important;
    line-height: 36px;
}

.page-cur{
    border: 0px solid #CACEDB !important;
    color: #00A0E9;
}

.left-from{
    position: fixed;
    top:404px;
    left: 0px;
    width: 285px;
    padding-left: 28px;
    padding-right: 57px;
    z-index: 1105;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.left-from-title{
    font-size: 18px;
    color: #00A0E9;
}

.am-icon-search{
    color:  #CCCCCC;
}

.am-checkbox{
    font-size: 18px;
    color: #5A6169;
}

/**手机端调整*/
@media only screen and (max-width: 1300px){

    .left-from {
        top: 350px;
        height: 300px;
    }

    .order-table{
        overflow: scroll;
    }

    .order-table table{
        min-width: 1000px;
    }

    .table-1 table tr th:first-child{
        padding-left: 0px;
    }

    .table-1 table tr td:first-child span{
        display: none;
    }

    .table-1 .order-table-panel{
        width: 100%;
        margin-left: 0;
    }

    .page-nation{
        width: 100%;
    }

    .page-nation ul{
        font-size: 14px;
    }

    .page-nation ul li {
        margin-right: 2px;
		height: 23px;
		line-height: 23px;
		min-width: 23px;
        padding: 0px;
    }

    .page-chg {
        padding: 0px 5px !important;
        line-height: 20px;
    }

}