html, body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
}

.content-panel2 {
    margin: 85px 30px 70px 345px;
    display: flex;
    flex-wrap: wrap;
}

.block4 {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.block4 > div {
    width: 50%;
    flex-shrink: 0;
}
.block4 > div:nth-of-type(odd) .block4-body {
    margin-right: 20px;
}
.block4 > div:nth-of-type(even) .block4-body {
    margin-left: 20px;
}
.block4 > div:nth-of-type(even) .block4-title {
    margin-left: 20px;
}
.block4-title {
    font-size: 28px;
    color: #1AA2E6;
    margin-top: 10px;
}
.block4-body {
    background: #fff;
    padding: 36px 16px 36px 50px;
    border-radius: 16px;
}
.order-info .block4-body {
    display: flex;
}
.order-info .part-two .img-view {
    border-bottom: 1px solid #DFEFDD;
}
.order-info .part-two .img-view img {
    max-width: 100%;
    height: auto;
}
.block4-body .part-one {
    padding-right: 4px;
    width: 50%;
    flex-shrink: 0;
}
.block4-body .part-two {
    width: 50%;
}

.time-line ul {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    padding: 0;
    list-style: none;
}
.time-line ul:before {
    content: '';
    border-left: 4px solid #1AA2E6;
    position: absolute;
    left: 12px;
    top: 1px;
    bottom: 1px;
    z-index: 1;
}
.time-line li {
    line-height: 28px;
    margin-bottom: 10px;
    padding-left: 40px;
    position: relative;
}
.time-line li .tl-img img {
    max-height: 120px;
    width: auto;
    max-width: 100%;
    margin-bottom: 4px;
}
.time-line li:before {
    content: '';
    width: 28px;
    height: 28px;
    position: absolute;
    font-size: 0;
    z-index: 2;
    vertical-align: middle;
    left: 0;
    top: 0;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}
.time-line li.done:before {
    background-image: url(../img/check.png);
    background-color: #1AA2E6;
}
.time-line li.will:before {
    background-color: #fff;
    border: 4px solid #939598;
}

.block4-body dl {
    padding-bottom: 16px;
    margin: 0;
}

.block4-body dt {
    font-weight: bold;
    color: #333;
}

.block4-body dd {
    margin-top: 0;
    color: #999;
    min-height: 1.2em;
}

.block4-body .info {
    color: #999;
}

.block4-body h3 {
    width: auto;
    margin-right: 30px;
    color: #1AA2E6;
    border-bottom: 1px solid #1AA2E6;
    margin-bottom: 10px;
}

.pattern-info .block4-body {
    display: flex;
    flex-wrap: wrap;
}
.pattern-info ul {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
}
.pattern-info li {
    display: flex;
    margin-bottom: 10px;
}
.pattern-info .thumb {
    flex-shrink: 0;
    width: 200px;
    height: 96px;
    border: 1px solid #E7EAEF;
    margin-right: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.pattern-info .part-two .img-view img {
    max-width: 100%;
    height: auto;
}

.block4 .table-wrap {
    margin-bottom: 20px;
}
.block4 .table-title {
    font-size: 20px;
    font-weight: bold;
    color: #999;
}
.block4 .table-title span:first-child {
    float: left;
}
.block4 .table-title span:last-child {
    float: right;
    padding-right: 26px;
}
.block4 table {
    color: #999;
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
}

.block4 table thead th {
    color: #333;
    padding-bottom: 6px;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid #333;
}
.block4 table tbody tr:nth-of-type(1) td {
    padding-top: 10px;
}

.block4 .summary-title {
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 4px;
    font-weight: bold;
    color: #999;    
}
.block4 table.summary {
    width: 80%;
}
table.summary tfoot tr:nth-last-of-type(2) td {
    padding-bottom: 10px;
}
table.summary tfoot tr:nth-of-type(1) td {
    padding-top: 20px;
}
table.summary tfoot tr:last-child td {
    color: #333;
    border-top: 2px dashed #333;
    padding-top: 10px;
}

.sample-approval {
    width: 100% !important;
}
.sample-approval .block4-body {
    margin-right: 0 !important;
}

.product-info .block4-body {
    display: flex;
    flex-wrap: wrap;
}

.sample-approval ul {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
}
.sample-approval li {
    display: flex;
    margin-bottom: 20px;
}
.sample-approval .thumb {
    flex-shrink: 0;
    width: 200px;
    height: 160px;
    border: 1px solid #E7EAEF;
    margin-right: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.sample-approval textarea {
    margin: 0 10px 10px 0;
    width: 480px;
    border-radius: 8px;
    resize: none;
    padding: 4px 10px;
}
.sample-approval .info {
    line-height: 1.6em;
}
.approve-time {
    line-height: 2em;
    margin-bottom: 10px;
}
.approve-time i {
    font-size: 1.6em;
    vertical-align: -3px;
    font-weight: 300;
}
.approve-time i.am-icon-close {
    color: red;
}
.approve-time i.am-icon-check {
    color: #5eb95e;
}

.color-panel {
    padding-top: 4px;
}
.palette-color-picker-bubble {
    margin: 0;
}
.palette-color-picker-bubble .swatch {
    font: 0/0 Arial;
    width: 15%;
    padding-top: 8%;
}
.color-block {
    display: inline-block;
}
.color-block .swatch {
    width: 50px;
    height: 30px;
}
.color-block .color-name {
    text-align: center;
    display: block;
}
.color-block .color-info {
    display: inline-block;
}

.am-modal-dialog {
    width: 800px !important;
}
.approval-upload {
    display: flex;
    width: 100%;
}
.approval-upload .img-view {
    width: 360px;
    height: 480px;
    flex-shrink: 0;
    margin-right: 4px;
}
.approval-upload .img-view img,
.approval-upload .img-list img {
    max-width: 100%;
    height: auto;
    max-height: 480px;
}
.approval-upload .img-list ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    height: 600px;
    overflow-y: auto;
}
.approval-upload .img-list li {
    margin-right:10px;
    margin-bottom: 4px;
}
.approval-upload .img-list li img {
    height: 120px;
    width: auto;
    max-width: 320px;
}
.approval-upload .img-list li.active img {
    border: 1px solid red;
}